

body{
	background-image: url("../img/gcsbackground.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: none;
	color: #464544;
	font: caption;
	font-family: 'Lora', serif;
	font-size: 15px;
	margin: 0;
}

.navbar{
	background-color: rgba(254, 253, 249, .7);
	height: 105%;
	width: 250px;
	margin-left: 20px;
	float:left;
	position: fixed;
	border-left: dotted #ECBFA9;
    border-right: dotted #ECBFA9;
    margin-top: -6px;
}

header{
	margin-left: 0;
}

a{
	color:#A19189;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
	font-size: 35px;
	text-decoration: none;
}

a:hover{
	color:#7c914e;
}

hr{
    border-bottom: 3px solid #7c914e;
    border-top: 20px solid #ECBFA9;
    border-left: rgba(254, 253, 249);
    border-right: rgba(254, 253, 249);

}

.woodbackground{
	background-color: rgba(254, 253, 249);
	padding: 10px;
	height: 800px;
}

.top{
	line-height: 1cm;
}


header img{
	display:inline;
	margin-left:10px;
	margin-bottom: -7px;
}
nav{
	font-size: 45px;
	height:100%;
	width: 300px;
}

nav ul {
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	height:690px;
	margin-top: 80px;
}

section{
	margin-bottom: 50px;
}

h1{
	font-size: 45px;
	color:#A19189;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
}

.body{
	text-align: center;
	margin:20px;
	margin-left: 290px;
}

.home{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.home div{
	margin: 10px;
}

.image {
	width: 300px;
}

h2{
	margin-top: 0px;
	color:#A19189;
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
}

.specials{
	width:300px;
	border: dotted;
	border-color: #ECBFA9;
	padding:10px;
}

footer{
	text-align: center;
	margin:20px;
	margin-top: 50px;
	margin-left: 290px;
	color: #7c914e;
}

.socialmedia ul{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding: 0;
}

.socialmedia li img{
	width: 170px;
	height: auto;
	margin: 10px;
}

ul{
	list-style-type: none;
}

.aboutmichele{
	width:300px;
	border: dotted;
	border-color: #ECBFA9;
	padding:10px;
}

.menu{
	display:flex;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: space-around;
	margin: 0 auto;
	max-width: 1000px;
}

.cookies{
	border: dotted;
	border-color: #ECBFA9;
	display:flex;
	flex-direction: row;
	padding: 10px;
	margin-right: 10px;
	margin-top: 10px;
}
.cookiedescription{
	margin-left: 10px;
	width: 150px;
}

.cookies img{
	width: 150px;
	height: 150px;
}